<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head> 
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />

		<!-- Website CSS style -->
		<link rel="stylesheet" type="text/css" href="/css/main.css" />

		<!-- Website Font style -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
		
		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css' />
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css' />

		<title th:text="#{view.generic.titulo}"></title>
	</head>
	<body>
		<div class="container">
			<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title"><span th:text="#{view.generic.titulo}"></span></h1>
	               		<hr />
	               	</div>
	            </div> 	            
	            
				<div class="main-login main-center">
					
					<div id="errors" th:if="${param.error != null}"
								class="alert alert-danger alert-dismissable">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						Usuário/Senha incorreto!
					</div>
				
				
					<form class="form-horizontal" method="post" th:action="@{/autenticar}" >
						
						 <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						
						<div class="form-group">
							<label for="usuario" class="cols-sm-2 control-label"><span th:text="#{views.login.usuario}"></span></label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="usuario" id="usuario"  th:placeholder="#{views.login.placeholder-usuario}" required="required"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="senha" class="cols-sm-2 control-label"><span th:text="#{views.login.senha}"></span></label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="senha" id="senha"  th:placeholder="#{views.login.placeholder-senha}" required="required"/>
								</div>
							</div>
						</div>

						<div class="form-group ">
							<button type="submit" class="btn btn-primary btn-md btn-block login-button">Login</button>
						</div>
						
						<div class="login-register">
				            <a href="/">Voltar</a>
				         </div>
					</form>
				</div>
			</div>
		</div>
		
		<script src="/js/jquery-3.1.1.js"></script>
		<script src="/js/bootstrap.min.js"></script>
	</body>
</html>