<table
	class="table table-hover table-condensed table-striped table-bordered" th:fragment="tabela-ingredientes">
	<thead>
		<tr>
			<td style="width: 10%">#</td>
			<td style="width: 50%">Nome</td>
			<td style="width: 20%">Categoria</td>
			<td style="width: 10%">Editar</td>
			<td style="width: 10%">Deletar</td>
		</tr>
	</thead>
	<tbody>
		<tr th:each="ingrediente : ${ingredientes}" th:attr="data-id=${ingrediente.id}" >
			<td><span th:text="${ingrediente.id}"></span></td>
			<td><span th:text="${ingrediente.nome}"></span></td>
			<td><span th:text="${ingrediente.categoria}"></span></td>
			<td><button type="button" class="btn btn-warning btn-editar">Editar</button></td>
			<td><button type="button" class="btn btn-danger btn-deletar">Deletar</button></td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="5">Ingredientes cadastrados : <span
				th:text="${ingredientes.size()}" id="quantidade-ingredientes"></span></td>
		</tr>
		<tr>
			<td colspan="5">
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-primary" data-toggle="modal"
					data-target="#modal-ingrediente">Cadastrar Ingrediente</button>
			</td>
		</tr>
	</tfoot>
</table>